.slick-slider .slick-prev, .slick-slider .slick-next {
    display: none !important;
    position: absolute;
}
.slick-initialized .slick-slide {
    width: 15rem;
    margin: 0 0.5rem;
    height: 8.75rem;
    border-radius: 0.5rem;
    -webkit-transform: translateX(1rem);
    -moz-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    -o-transform: translateX(1rem);
    transform: translateX(1rem);
    overflow: hidden;
    transition: all 150ms;
}
.slick-initialized .slick-slide div, .slick-initialized .slick-slide div div{
    height: 100%;
}
@media (min-width: 768px) {
    .slick-initialized .slick-slide {
        width: 29.375rem;
        height: 14.375rem;
        margin: 0 1.25rem;
        -webkit-transform: translateX(1.5625rem);
        -moz-transform: translateX(1.5625rem);
        -ms-transform: translateX(1.5625rem);
        -o-transform: translateX(1.5625rem);
        transform: translateX(1.5625rem);
    }
}
@media (min-width: 1440px) {
    .slick-initialized .slick-slide {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}