html {
    scroll-behavior: smooth;
}
*, *::before, *::after{
    scrollbar-width: 0 !important;
    scrollbar-color: #ffffff;
}
::-webkit-scrollbar{
    display: none !important;
    width: 0 !important;
    background-color: #10141E;
}
::-webkit-scrollbar-thumb{
    display: none !important;
    border-radius: 0.375rem;
    background: #ffffff;
    border: 0 solid #10141E;
}
body {
    background-color: #10141E;
    overflow-x: hidden;
}
#search:not(:focus) {
    color: #ffffff;
}
@media (min-width: 1440px) {
    header {
        margin: 2rem 0 0 2rem !important;
    }
    .main-nav {
        padding: 2.1875rem 1rem !important;
    }
    .search-icon, .title {
        padding-left: 0;
    }
    #search {
        padding-left: 3rem;
    }
    .recommended-grid {
        padding-left: 0;
        -webkit-grid-template-columns: repeat(4, minmax(0, 1fr));
        -moz-grid-template-columns: repeat(4, minmax(0, 1fr));
        -ms-grid-template-columns: repeat(4, minmax(0, 1fr));
        -o-grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}
@media (min-width: 1500px) {
    .recommended-grid {
        padding-right: 0;
    }
}