@media (min-width: 1440px) {
    .recommended-grid {
        -webkit-grid-template-columns: repeat(4, minmax(0, 1fr));
        -moz-grid-template-columns: repeat(4, minmax(0, 1fr));
        -ms-grid-template-columns: repeat(4, minmax(0, 1fr));
        -o-grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}